.results-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ws-page{
    position: relative;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    
}